body {
    background: #ddf5ff;
}

#container {
    margin: 0;
    width: 100px;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

#btn {
    width: 150px;
    margin-left: 100px;
}

.left_wrapper,
.right_wrapper {
    width: 250px;
    padding: 20px;
}

.left_wrapper>dl .right_wrapper>dl {
    display: flex;
    flex-wrap: wrap;
}

.operation {
    width: 200px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: solid black 1px;
}

.ranking__content {
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    border: solid black 1px;
}

.ranking__content>p {
    margin: 0;
}

.ranking__content>ul {
    margin: 0;
    padding: 10px;
    list-style: none;
}

.score_board {
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    border: solid black 1px;
}

.score_board>p {
    margin: 0;
}

.button_wrapper>input {
    width: 200px;
    height: 50px;

    font-size: 16px;
    margin: 10px;
}

.button_wrapper>input:hover {
    scale: 1.1;
}